@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'ribesalaticons';
    src: url('fonts/ribesalaticons.ttf') format('truetype'),
        url('fonts/ribesalaticons.eot') format('embedded-opentype'),
        url('fonts/ribesalaticons.woff') format('woff');
}
.ico {
    font-family: 'ribesalaticons' !important;
    font-size: 18px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.menu_cotizaciones:before {
    content: '\ea01';
}
.menu_Peticionesdecontratación:before {
    content: '\ea02';
}
.help:before {
    content: '\ea03';
}
.mark_chat_unread:before {
    content: '\ea04';
}
.mark_chat:before {
    content: '\ea05';
}
.account_circle:before {
    content: '\ea06';
}
.menu_language:before {
    content: '\ea07';
}
.menu_settings:before {
    content: '\ea08';
}
.menu_news:before {
    content: '\ea09';
}
.menu_polizascontratadas:before {
    content: '\ea0a';
}
.report:before {
    content: '\ea0b';
}
.menu_inicio:before {
    content: '\ea0c';
}
.email:before {
    content: '\ea0d';
}
.call:before {
    content: '\ea0e';
}
.close:before {
    content: '\ea0f';
}
.addsmall:before {
    content: '\ea10';
}
.person:before {
    content: '\ea11';
}
.more_horiz:before {
    content: '\ea12';
}
.more_vert:before {
    content: '\ea13';
}
.info:before {
    content: '\ea14';
}
.less:before {
    content: '\ea15';
}
.delete:before {
    content: '\ea16';
}
.edit:before {
    content: '\ea17';
}
.description:before {
    content: '\ea18';
}
.content_copy:before {
    content: '\ea19';
}
.today:before {
    content: '\ea1a';
}
.folder:before {
    content: '\ea1b';
}
.search:before {
    content: '\ea1c';
}
.attach_file:before {
    content: '\ea1d';
}
.check_circle:before {
    content: '\ea1e';
}
.check_circle_filled:before {
    content: '\ea1f';
}
.cancel:before {
    content: '\ea20';
}
.check_small:before {
    content: '\ea21';
}
.bookmark:before {
    content: '\ea22';
}
.bookmark_filled:before {
    content: '\ea23';
}
.check_emphasis:before {
    content: '\ea24';
}
.lock:before {
    content: '\ea25';
}
.lockon:before {
    content: '\ea26';
}
.lock_open:before {
    content: '\ea27';
}
.lock_openon:before {
    content: '\ea28';
}
.menu_close:before {
    content: '\ea29';
}
.arrow_back_ios_new:before {
    content: '\ea2a';
}
.arrow_forward_ios:before {
    content: '\ea2b';
}
.chevron_left:before {
    content: '\ea2c';
}
.chevron_right:before {
    content: '\ea2d';
}
.expand_more:before {
    content: '\ea2e';
}
.expand_less:before {
    content: '\ea2f';
}
.unfold_more:before {
    content: '\ea30';
}
.expand_content:before {
    content: '\ea31';
}
.download:before {
    content: '\ea32';
}
.upload:before {
    content: '\ea33';
}
.longarrow-right:before {
    content: '\ea34';
}
.longarrow-left:before {
    content: '\ea35';
}
.trending_up:before {
    content: '\ea36';
}
.trending_down:before {
    content: '\ea37';
}
.compare_arrows:before {
    content: '\ea38';
}
.check_box_filled:before {
    content: '\ea39';
}
.check_box:before {
    content: '\ea3a';
}
.check_box_outline_blank:before {
    content: '\ea3b';
}
.indeterminate_check_box:before {
    content: '\ea3c';
}
.radio_button_checked:before {
    content: '\ea3d';
}
.radio_button_unchecked:before {
    content: '\ea3e';
}
.star:before {
    content: '\ea3f';
}
.star_filled:before {
    content: '\ea40';
}
.warning:before {
    content: '\ea41';
}
.warning_filled:before {
    content: '\ea42';
}
.copyright:before {
    content: '\ea43';
}
.schedule:before {
    content: '\ea44';
}
.location_on:before {
    content: '\ea45';
}
.share:before {
    content: '\ea46';
}
.image:before {
    content: '\ea47';
}
.credit_card:before {
    content: '\ea48';
}
.credit_card_off:before {
    content: '\ea49';
}
.credit_score:before {
    content: '\ea4a';
}
.account_balance:before {
    content: '\ea4b';
}
.play-outline:before {
    content: '\ea4c';
}
.play-filled:before {
    content: '\ea4d';
}
.pause:before {
    content: '\ea4e';
}
.play_circle:before {
    content: '\ea4f';
}
.play_circle_filled:before {
    content: '\ea50';
}
.volume_up:before {
    content: '\ea51';
}
.volume_off:before {
    content: '\ea52';
}
.mic_filled:before {
    content: '\ea53';
}
.mic_filled_off:before {
    content: '\ea54';
}
.mic:before {
    content: '\ea55';
}
.mic_off:before {
    content: '\ea56';
}
.menu-hamburger:before {
    content: '\ea57';
}
.plus:before {
    content: '\ea58';
}
